apiVersion: v1
kind: Service
metadata:
  name: allure-service-node-port
spec:
  type: NodePort
  ports:
    - name: allure-api
      port: 5050
      targetPort: 5050
      nodePort: {{ allure_info.nodeport_api_port }}
    - name: allure-ui
      port: 5252
      targetPort: 5252
      nodePort: {{ allure_info.nodeport_ui_port }}
  selector:
    type: app