apiVersion: v1
kind: Service
metadata:
  name: allure-service
spec:
  ports:
    - name: allure-api
      port: 5050
      targetPort: 5050
    - name: allure-ui
      port: 5252
      targetPort: 5252
  selector:
    type: app