apiVersion: apps/v1
kind: Deployment
metadata:
  name: loop-pytest-deployment
spec:
  template:
    metadata:
      name: loop-pytest-container
      labels:
        type: app
    spec:
      containers:
        - name: loop-pytest
          image: '{{ allure_info.loop_pytest_image }}'
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          volumeMounts:
            - name: reports-volume
              mountPath: /app/allure-results
          command: ["/bin/sh", "-c"]
          args:
          - |
            sleep 60
            while true
              do
                date
                if [[ {{ allure_info.loop_pytest }} == True ]]
                then
                  {{ allure_info.pytest_cmd }} --alluredir=/app/allure-results
                fi
                sleep {{ allure_info.loop_timer }}
              done
      volumes:
        - name: reports-volume
          persistentVolumeClaim:
            claimName: allure-persistent-volume-claim
  replicas: 1
  selector:
    matchLabels:
      type: app